<app-menu></app-menu>
<div class="app-container">
  <div class="side-menu">
    <ul>
      <li><a routerLink="/home" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/clothes" routerLinkActive="active">Clothes</a></li>
      <li><a routerLink="/cosmetics" routerLinkActive="active">Cosmetics</a></li>
      <li><a routerLink="/lifestyle" routerLinkActive="active">Lifestyle</a></li>
      <li><a routerLink="/fashion" routerLinkActive="active">Natural look</a></li>
      <li><a routerLink="/hair" routerLinkActive="active">Hair</a></li>
    </ul>
  </div>
  <div class="main-container">
    <router-outlet></router-outlet>
  </div>
</div>
