<div class="content">
  <div class="hero-content">
    <div class="video-container">
      <video autoplay loop [muted]="true" muted id="background-video">
        <source src="assets/background.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="dark-overlay"></div>
    </div>
      <div>
          <h1>Welcome to My Fashion World!</h1>
          <p>Hello, fabulous fashionistas! 🌟</p>
          <h2>What You'll Find Here:</h2>
          <ul>
              <li><strong>Outfit Ideas</strong>: Daily looks that combine comfort and style.</li>
              <li><strong>Fashion Tips</strong>: Insider secrets to elevate your wardrobe.</li>
              <li><strong>Lifestyle</strong>: A peek into my life beyond fashion – travel, beauty, and more!</li>
              <li><strong>Trends</strong>: The latest trends decoded and made wearable.</li>
              <li><strong>DIY & Hacks</strong>: Creative ways to personalize your style.</li>
          </ul>
          <p>Join me as I experiment with different styles, mix and match trends, and create looks that are uniquely mine. Fashion is all about expressing yourself, and I can't wait to inspire you to do the same!</p>
          <p>Don't forget to follow me on social media for daily updates, behind-the-scenes fun, and exclusive content.</p>
          <h3>Let's Connect!</h3>
          <ul class="social-links">
              <li><a href="https://www.instagram.com/radosstina.vassileva" target="_blank"><i class="fab fa-instagram"></i> Instagram</a></li>
              <li><a href="https://www.facebook.com/padoctuna" target="_blank"><i class="fab fa-youtube"></i> Facebook</a></li>
              <li><a href="https://www.tiktok.com/@yourtiktokhandle" target="_blank"><i class="fab fa-tiktok"></i> TikTok</a></li>
          </ul>
          <p>Thank you for stopping by, and I hope you find as much joy in fashion as I do. Stay stylish and confident!</p>
          <p>Radostina Vasileva</p>
      </div>
  </div>
</div>
